<section class="max-w-6xl mx-auto py-40">
    <div class="grid grid-cols-2 gap-10">
        <div class="grid place-content-center">
            <div class="flex items-center gap-3 mb-4">
                <ng-icon name="heroExclamationTriangle" size="70" color="#4338ca" strokeWidth="1"></ng-icon>
                <h2 class="text-6xl font-bold">Ошибка 404</h2>
            </div>
            <p class="text-gray-500 text-lg">
                Oops! Sorry, we couldn’t find the page you were looking for. 
                If you think this is a problem with us, please Contact us
            </p>            
        </div>
        <div>
            <img src="/assets/image/404-error-img.svg" alt="" />
        </div>
      </div>
</section>