<section class="pt-40 pb-20">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <h1 class="text-5xl font-bold mb-5">
                    Hi there, <br />
                    <span class="text-fuchsia-500">we’re team Mii</span>
                </h1>
                <h6 class="mb-4 text-xl text-gray-700 font-medium">
                    We’re building the best next-generation interactive bootstrap based 
                    UI Kit design tool for developers, engineers, Full-Stack developer, 
                    and digital agency.
                </h6>
                <p class="mb-10 text-gray-500 font-light">
                    <b class="font-bold">Mii</b> provide clean and consistent page designs to help you to create beautiful looking contents. 
                    Mii is feature-rich components and beautifully designed pages that help you create the best 
                    possible website and web application projects.    
                </p>                
            </div>
            <div>
                <img src="/assets/image/geeksui-img-5.jpg" class="rounded w-full" alt="geeksui" />
            </div>
        </div>
    </div>
</section>


<section class="bg-white py-10">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <h1 class="text-5xl font-bold my-8">
                    Our global reach
                </h1>
                <p class="text-xl text-gray-700 font-medium">
                    Mii is the leading global marketplace for teaching and learning, 
                    connecting millions of students to the skills they need to succeed.
                </p>                  
            </div>
        </div>
    </div>
    <div class="max-w-6xl mx-auto px-4 mb-20">
        <hr class="mt-10" />
        <div class="flex items-center justify-between">
            <div class="grid gap-2 py-8">
                <h3 class="text-5xl mt-3 font-bold">20M</h3>
                <p class="text-gray-500 font-light text-md">LEARNERS</p>
            </div>
            <div class="grid gap-2 py-8">
                <h3 class="text-5xl mt-3 font-bold">57K</h3>
                <p class="text-gray-500 font-light text-md">INSTRUCTORS</p>
            </div>
            <div class="grid gap-2 py-8">
                <h3 class="text-5xl mt-3 font-bold">21K</h3>
                <p class="text-gray-500 font-light text-md">COURSES</p>
            </div>
            <div class="grid gap-2 py-8">
                <h3 class="text-5xl mt-3 font-bold">380M</h3>
                <p class="text-gray-500 font-light text-md">COURSE ENROLLMENTS</p>
            </div>
        </div>
    </div>
</section>

<section class="bg-slate-50 py-20">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <h1 class="text-5xl font-bold my-8">Our core values</h1>
                <p class="text-xl text-gray-700 font-medium">
                    Our core values are the fundamental beliefs of a person or organization geeks academy. 
                    We help people understand the difference between right and wrong.
                </p>                  
            </div>
        </div>
    </div>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-3 gap-6 my-10">
            <div class="grid gap-4 shadow bg-white p-10 text-left rounded-md">
                <ng-icon name="heroAcademicCap" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-xl font-bold">Make Education Accessible</h3>
                <p class="text-md text-gray-600">
                    Quis cursus turpis in habitant sagittis amet dolor malesuada ut. 
                    Volutpat nunc id blanvolutpat nunc.
                </p>
            </div>
            <div class="grid gap-4 shadow bg-white p-10 text-left rounded-md">
                <ng-icon name="heroUserGroup" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-xl font-bold">Learn and Grow</h3>
                <p class="text-md text-gray-600">
                    Quis cursus turpis in habitant sagittis amet dolor malesuada ut. 
                    Volutpat nunc id blanvolutpat nunc.
                </p>
            </div>
            <div class="grid gap-4 shadow bg-white p-10 text-left rounded-md">
                <ng-icon name="heroPresentationChartLine" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-xl font-bold">Make Education Accessible</h3>
                <p class="text-md text-gray-600">
                    Quis cursus turpis in habitant sagittis amet dolor malesuada ut. 
                    Volutpat nunc id blanvolutpat nunc.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-white py-40">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-4 mb-20">
            <div class="grid gap-6">
                <h1 class="text-5xl font-bold">Our Team</h1>
                <p class="text-xl text-gray-700 font-medium">
                    Want to work with some of the best global talent and build a tool used by all the companies you know and love? Join the Geeks team and help shape the future of design.
                </p>   
                <div>
                    <button class="bg-fuchsia-500 text-white font-bold px-10 py-3 rounded-md hover:bg-fuchsia-950">
                        Openings
                    </button>
                </div>               
            </div>
        </div>
        <div class="grid grid-cols-6 gap-x-24 gap-y-12">
            <div>
                <img src="/assets/image/avatars/avatar-1.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-2.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-3.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-4.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-5.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-6.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-7.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-8.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-9.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-10.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-11.jpg" class="rounded-full" alt="User" />
            </div>
            <div>
                <img src="/assets/image/avatars/avatar-12.jpg" class="rounded-full" alt="User" />
            </div>
        </div>
    </div>
</section>

<section class="bg-fuchsia-600 py-20">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-4">
            <div class="grid gap-10">
                <h4 class="text-4xl font-bold text-fuchsia-50 leading-normal">Join the Geeks team & shape the future of design</h4>
                <p class="text-fuchsia-300 text-xl">If you’re passionate and ready to dive in, we’d love to meet you. We’re committed to supporting our employee professional development and well-being.</p>
                <div>
                    <button class="bg-fuchsia-950 text-white font-bold px-10 py-3 rounded-md hover:bg-black">View opportunities</button>
                </div>
            </div>
            <div class="relative">
                <img src="/assets/image/hero-img.png" class="absolute -bottom-20" alt="happy client" />
            </div>
        </div>
    </div>
</section>


