<div class="max-w-6xl mx-auto py-40">
    <div class="grid grid-cols-2 gap-4">
        <div>
            <h5 class="text-dark mb-4 flex items-center gap-2 font-medium">
                <div class="bg-green-50 w-5 h-5 rounded-full flex items-center justify-center">
                    <ng-icon name="heroCheck" size="15" color="#139a74" strokeWidth="2"></ng-icon>
                </div>
                Most trusted education platform
            </h5>
            <h1 class="text-5xl font-bold mb-5">Grow your skills and advance career</h1>
            <p class="pe-10 mb-10 text-gray-500 font-light">
                Start, switch, or advance your career with more than 5,000 courses, 
                Professional Certificates, and degrees from world-class universities and companies.
            </p>    
            <div class="flex gap-4">
                <button type="button" class="rounded-md px-8 py-2 bg-fuchsia-700 hover:bg-fuchsia-900 text-white flex items-center gap-3">
                    <ng-icon name="heroArrowRight" size="20" color="#fff" strokeWidth="2"></ng-icon>
                    Join Free Now
                </button>
                <button type="button" class="rounded px-6 py-2 bg-transparent hover:bg-slate-50 flex items-center gap-3">
                    <img src="/assets/image/play-btn.svg" alt="">
                    Watch Demo
                </button>
            </div>        
        </div>
        <div>
            <div class="relative ml-10 mt-16">
                <img src="/assets/image/trophy.png" loading="lazy" alt="trophy" class="absolute -left-12 -top-10 right-3" />
                <img src="/assets/image/bg-thumb.svg" loading="lazy" alt="img" class="absolute left-24 -bottom-80" />
                <img src="/assets/image/girl-image.png" loading="lazy" alt="girl" class="w-100 mx-auto absolute left-8 -bottom-80" />
                <img src="/assets/image/sound.png" loading="lazy" alt="sound" class="absolute top-20 -left-20 mt-18" />
                <img src="/assets/image/frame-2.svg" loading="lazy" alt="frame" class="absolute -bottom-96 left-0 -mt-96" />
                <img src="/assets/image/frame-1.svg" loading="lazy" alt="frame" class="absolute -top-20 right-0" />
                <img src="/assets/image/target.png" loading="lazy" alt="target" class="absolute top-40 right-10">
            </div>            
        </div>

    </div>
</div>
<section class="bg-slate-50 py-10">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex items-center justify-between">
            <div class="grid place-items-center place-content-center gap-2 py-8">
                <ng-icon name="heroTrophy" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-3xl mt-3 font-bold">316,000+</h3>
                <p class="text-gray-500 font-light text-md">Qualified Instructor</p>
            </div>
            <div class="grid place-items-center place-content-center gap-2 py-8">
                <ng-icon name="heroUserGroup" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-3xl mt-3 font-bold">1.8 Billion+</h3>
                <p class="text-gray-500 font-light text-md">Course enrolments</p>
            </div>
            <div class="grid place-items-center place-content-center gap-2 py-8">
                <ng-icon name="heroTv" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-3xl mt-3 font-bold">41,000+</h3>
                <p class="text-gray-500 font-light text-md">Courses in 42 languages</p>
            </div>
            <div class="grid place-items-center place-content-center gap-2 py-8">
                <ng-icon name="heroFilm" size="50" color="#a21caf" strokeWidth="1"></ng-icon>
                <h3 class="text-3xl mt-3 font-bold">179,000+</h3>
                <p class="text-gray-500 font-light text-md">Online Videos</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-fuchsia-600 py-20">
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-2 gap-4">
            <div class="grid gap-10">
                <h4 class="text-4xl font-bold text-fuchsia-50 leading-normal">Join the Geeks team & shape the future of design</h4>
                <p class="text-fuchsia-300 text-xl">If you’re passionate and ready to dive in, we’d love to meet you. We’re committed to supporting our employee professional development and well-being.</p>
                <div>
                    <button class="bg-fuchsia-950 text-white font-bold px-10 py-3 rounded-md hover:bg-black">View opportunities</button>
                </div>
            </div>
            <div class="relative">
                <img src="/assets/image/hero-img.png" class="absolute -bottom-20" alt="happy client" />
            </div>
        </div>
    </div>
</section>